/*
FALLEGIR LITIR HEHE
	#1A1A1D
	#4E4E50
	#6F2232
	#950740
	#C3073F


ANNAÐ FALLEGT COLOR SCHEME
	#FAED26
	#46344E
	#5A5560
	#9D8D8F
	#9B786F
*/

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
}
header {
	background-color:  #46344E;
	width: 100%;
	height: 100px;
	color: white;
	
}
#headerButtons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
	color: #FAED26;
}

/* Footer styling */

footer {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	align-items: center;
	width: 100%;
	height: 35px;
	background-color: #5a5560;
	color: white;
	text-align: center;
	margin-top: auto;
}
footer h4 {
	margin: 0 40px;
}

footer h6 {
	display:block;
	margin-right: 40px;
	margin-left: auto;
}

/* ---------------- */


ul#headerButtons {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	text-align: center;
}
.samContainer {
	min-height: 200px;
	max-width: 940px;
	margin: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}
p {
	color: #eeeeee;
}
.birgjalogo {
	width: 150px;
	height: auto;
	margin: 20px;
}
.samContainer h2 {
	margin: 20px;
}
.lastH2 {
	min-width: 133px;
}
h2 {
	color: #FAED26;
}
body {
	background: #46344E;
	overflow-x:hidden;
	color: white;
	font-family: 'Alata', sans-serif;
}
.fade-in {
	-webkit-animation: fade-in 0.5s linear both;
	        animation: fade-in 0.5s linear both;
}

.slide-right {
	-webkit-animation: slide-right 0.5s linear both;
	        animation: slide-right 0.5s linear both;
}
.slide-left {
	-webkit-animation: slide-left 0.5s linear both;
	        animation: slide-left 0.5s linear both;
}

.verkefniContainer {
	width: 2000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

}
/* fallegir takkar */

.navbuttons {
		color: #FFF;
		transition: all 0.3s;
		position: relative;
		padding: 15px 32px;
		line-height: 50px;
		height: 50px;
		text-align: center;
		width: 250px;
		cursor: pointer;
}
.navbuttons span {
	transition: all 0.3s;
}
.navbuttons::before {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(250,237,38,0.5);
    border-bottom-color: rgba(250,237,38,0.5);
    transform: scale(0.1, 1);
}
.navbuttons:hover span {
	letter-spacing: 2px;
}
.navbuttons:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.navbuttons::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.navbuttons::after {
	opacity: 0;
	transform: scale(0.1, 1);
}

a {
	background: rgba(white, 0);
	color: white;
	line-height: 1.4;
	padding: .25em;
	text-decoration: none;

}
a:hover {
	background: rgba(white, 1);
	color: #FAED26;
}

/*
	fallegir takkar búnir
*/

.HomeScreen h3{
	color: #9D8D8F;
}
.HomeScreen a{
	color: #9D8D8F;
}
.HomeScreen {
	position: relative;
	text-align: right;
	width: 90%;
}

.HomeScreen img {
	display: block;
	width: 50%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

.homeTextContainer {
	position: absolute;;
	right: 32%;
	top: 30%;
}


.cardsContainer {
	width: 940px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}




/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	50% {

		opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 1;
	}
  }
  @keyframes slide-right {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
			  opacity: 0;
	}
	50% {

		opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 1;
	}
  }
  /**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	50% {

				opacity: 0;
	  }
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 1;
	}
  }
  @keyframes slide-left {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
			  opacity: 0;
	}
	50% {

		opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 1;
	}
  }
  

    /**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	  }
	100% {
		opacity: 1;
	}
  }
  @keyframes fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
  }
