/*
FALLEGIR LITIR HEHE
	#1A1A1D
	#4E4E50
	#6F2232
	#950740
	#C3073F


ANNAÐ FALLEGT COLOR SCHEME
	#FAED26
	#46344E
	#5A5560
	#9D8D8F
	#9B786F

Blár lítur - anton
0E3061
*/

body {
	background: #0E3061;
	overflow-x:hidden;
	color: white;
	font-family: 'Alata', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
}


h1 {
	text-align: center;
	color: #FAED26;
}


.samContainer {
	min-height: 200px;
	max-width: 940px;
	margin: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}
p {
	color: #eeeeee;
}
.birgjalogo {
	width: 150px;
	height: auto;
	margin: 20px;
}
.samContainer h2 {
	margin: 20px;
}
.lastH2 {
	min-width: 133px;
}
h2 {
	color: #FAED26;
}

.fade-in {
	-webkit-animation: fade-in 0.5s linear both;
	        animation: fade-in 0.5s linear both;
}

.slide-right {
	-webkit-animation: slide-right 0.5s linear both;
	        animation: slide-right 0.5s linear both;
}
.slide-left {
	-webkit-animation: slide-left 0.5s linear both;
	        animation: slide-left 0.5s linear both;
}

.verkefniContainer {
	width: 2000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

}
/* fallegir takkar */


a {
	background: rgba(white, 0);
	color: white;
	line-height: 1.4;
	padding: .25em;
	text-decoration: none;

}
a:hover {
	background: rgba(white, 1);
	color: #FAED26;
}

/*
	fallegir takkar búnir
*/

.HomeScreen h3{
	color: #9D8D8F;
}
.HomeScreen a{
	color: #9D8D8F;
}
.HomeScreen {
	position: relative;
	text-align: right;
	width: 90%;
}

.HomeScreen img {
	display: block;
	width: 50%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

.homeTextContainer {
	position: absolute;;
	right: 32%;
	top: 30%;
}


.cardsContainer {
	width: 940px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}




/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	50% {

		opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 1;
	}
  }
  @keyframes slide-right {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
			  opacity: 0;
	}
	50% {

		opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 1;
	}
  }
  /**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	50% {

				opacity: 0;
	  }
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 1;
	}
  }
  @keyframes slide-left {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
			  opacity: 0;
	}
	50% {

		opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 1;
	}
  }


    /**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	  }
	100% {
		opacity: 1;
	}
  }
  @keyframes fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
  }
